##############################
## Folders                  ##
##############################
Data/
lwy/
RL_Data/

##############################
## Files                    ##
##############################
*.so
*.txt
*.log